#container{
    display: flex;
    background-color: black;
    height: 300px;
    color: white;
    font-size: 2rem;


}

#itemn1{
    background-color: aqua;
}

#item2{
    flex-shrink: 0;
    background-color: aquamarine;
   
}

#item3{
    color: black;
    background-color: azure;
}