#cabecera{
    position: absolute;
     left:200px ;
    top: 110px ;
    background-color: aquamarine;
    z-index: 3;
    height: 50px ;
    width: 50px;


}

#columna{
    position: absolute;
    left: 175px;
    top:85px ;
    background-color: darkolivegreen;
    z-index: 2;
    height: 100px ;
    width: 100px;

}

#columna2{

    position: absolute;
    left: 125px;
    top:35px ;
    background-color:limegreen;
    z-index: 1;
    height: 200px ;
    width: 200px;


}